<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/confirmationmodal.css') }}">
    <!-- to build the page with WebStorm -->
    <link rel="stylesheet" href="../static/css/confirmationmodal.css">
</head>
<body>
<!-- Bestätigungs-Modal -->
<div id="confirm-modal" class="modal">
    <div class="modal-content">
        <p>Sind Sie sicher, dass Sie diese {{ modal }} löschen möchten?</p>
        <div class="button-container">
            <button class="btn delete" onclick="submitDelete()">Löschen</button>
            <button class="btn close" onclick="closeModal('confirm-modal')">Abbrechen</button>
        </div>
    </div>
</div>
</body>
<script>
    function submitDelete() {
        document.getElementById('delete-form').submit();
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
        document.body.classList.remove('blur-background');
    }

    function openModal(modalId) {
        document.getElementById(modalId).style.display = 'block';
        document.body.classList.add('blur-background');
    }
</script>
</html>