<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databases</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/databases.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/multisite.css') }}">
    <!-- to build the page with WebStorm -->
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/databases.css">
    <link rel="stylesheet" href="../static/css/multisite.css">
</head>
<body>

{% include 'sidebar.html' %}

<div class="main-container">

    <div class="top-container">
        <a>Overview</a>
    </div>

    <div class="element-container">


        <div class="data-container">
            <div class="container-text">
                <a>Connected Databases</a>
            </div>
            <div class="data-container-entry">
                {% for db_status in db_status_list %}
                <button class="data-container-button" onclick="window.location.href='/update_db/{{ db_status.name }}'">
                    <span class="db-name">{{ db_status.name }}</span>
                    <span class="db-host">{{ db_status.host }}</span>
                    <span class="db-status" style="background-color: {{ db_status.status }};"></span>
                </button>
            {% endfor %}
            </div>
        </div>


        <div class="setup-container">
            <div class="container-text">
                <a>Add Database</a>
            </div>
            <div class="container-form">
                <form method="POST" action="/databases">
                    <div class="container-form-items">
                        <a class="container-form-items-text">Type</a>

                        <div class="custom-select">
                            <div class="select-box" id="selected-item">
                                Select Database
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path d="M468-240q-96-5-162-74t-66-166q0-100 70-170t170-70q97 0 166 66t74 162l-84-25q-13-54-56-88.5T480-640q-66 0-113 47t-47 113q0 57 34.5 100t88.5 56l25 84ZM821-60 650-231 600-80 480-480l400 120-151 50 171 171-79 79Z"/>
                                </svg>
                            </div>
                            <ul class="dropdown-list">
                                <li class="dropdown-item" data-value="mysql">
                                    <img src="../static/assets/img/mysql.png" alt="Bild 1" style="height: 15px">
                                    MySQL
                                </li>
                                <li class="dropdown-item" data-value="postgresql">
                                    <img src="../static/assets/img/postgresql.png" alt="Bild 2">
                                    PostgreSQL
                                </li>
                                <li class="dropdown-item" data-value="mongodb">
                                    <img src="../static/assets/img/mongodb.png" alt="Bild 3">
                                    MongoDB
                                </li>
                            </ul>
                            <select id="image-select" name="dropdown">
                                <option value="mysql">1</option>
                                <option value="postgresql">2</option>
                                <option value="mongodb">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">Name</a>
                        <input class="container-input-field" type="text" name="Add_DB_Name" placeholder="Database 1"
                               required>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">Host</a>
                        <input class="container-input-field" type="text" name="Add_DB_Host" placeholder="127.0.0.1"
                               required>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">Port</a>
                        <input class="container-input-field" type="text" name="Add_DB_Port" placeholder="3306" required>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">User</a>
                        <input class="container-input-field" type="text" name="Add_DB_User" placeholder="database_user"
                               required>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">Password</a>
                        <input class="container-input-field" type="password" name="Add_DB_Password"
                               placeholder="database_user_password" required>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">Database Name</a>
                        <input class="container-input-field" type="password" name="Add_DB_DB_Name"
                               placeholder="database_name">
                    </div>
                    <div class="container-form-button">
                        <button class="btn" type="submit" id="Add_DB_Submit">Add Database</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<script src="../static/js/jquery-3.6.0-min.js"></script> <!-- jQuery (https://code.jquery.com/jquery-3.6.0.min.js) -->
<script>
    $(document).ready(function () {
        // Verstecke die Dropdown-Liste
        $('.dropdown-list').hide();

        // Zeige die Dropdown-Liste beim Klicken auf die Select-Box
        $('#selected-item').click(function () {
            $('.dropdown-list').toggle();
        });

        // Setze den ausgewählten Wert im Select-Element und in der Select-Box
        $('.dropdown-item').click(function () {
            var selectedValue = $(this).data('value');
            var selectedText = $(this).text();
            $('#image-select').val(selectedValue);
            $('#selected-item').html($(this).html());
            $('.dropdown-list').hide();
        });
    });
    $(document).ready(function () {
        // Ihr vorhandener Code

        // Setze den ausgewählten Wert im Select-Element und in der Select-Box
        $('.dropdown-item').click(function () {
            var selectedValue = $(this).data('value');
            var selectedText = $(this).text();
            $('#image-select').val(selectedValue);
            $('#selected-item').html($(this).html());
            $('.dropdown-list').hide();

            // Ändere den Platzhaltertext für das Port-Feld
            var portPlaceholder = "";
            if (selectedValue === "mysql") {
                portPlaceholder = "3306";
            } else if (selectedValue === "postgresql") {
                portPlaceholder = "5432";
            } else if (selectedValue === "mongodb") {
                portPlaceholder = "27017";
            }
            $('input[name="Add_DB_Port"]').attr('placeholder', portPlaceholder);
        });
    });
</script>

{% include 'msg.html' %}

</body>
</html>