<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databases</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/databases.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/multisite.css') }}">
    <!-- to build the page with WebStorm -->
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/databases.css">
    <link rel="stylesheet" href="../static/css/multisite.css">
</head>
<body>

{% include 'sidebar.html' %}

<div class="main-container">

    <div class="top-container">
        <a>Overview</a>
    </div>

    <div class="element-container">


        <div class="data-container">
            <div class="container-text">
                <a>Connected Databases</a>
            </div>
        </div>


        <div class="setup-container">
            <div class="container-text">
                <a>Add Database</a>
            </div>
            <div class="container-form">
                <form method="POST" action="/databases">
                    <div class="container-form-items">
                        <a class="container-form-items-text">Type</a>
                            <select id="database" class="container-form-items-select" type="select" name="type" placeholder="Username" required>
                                <option value="MySQL" op-img="../assets/img/mysql.png">MySQL</option>
                            </select>
                    </div>
                    <div class="container-form-items">
                        <a class="container-form-items-text">Name</a>
                        <input class="input-field" type="password" name="password" placeholder="Password" required>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
</body>
</html>