<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Database</title>
</head>
<body>

    <h1>Update Database: {{ db_entry.name }}</h1>

    <form method="post">
        <!-- Datenbanktyp -->
        <label for="Add_DB_Type">DB Type:</label>
        <input type="text" id="Add_DB_Type" name="Add_DB_Type" value="{{ db_entry.db_type }}" placeholder="DB Type">
        <br>

        <!-- Datenbankname -->
        <label for="Add_DB_Name">Name:</label>
        <input type="text" id="Add_DB_Name" name="Add_DB_Name" value="{{ db_entry.name }}" placeholder="Name">
        <br>

        <!-- Host -->
        <label for="Add_DB_Host">Host:</label>
        <input type="text" id="Add_DB_Host" name="Add_DB_Host" value="{{ db_entry.db_host }}" placeholder="Host">
        <br>

        <!-- Port -->
        <label for="Add_DB_Port">Port:</label>
        <input type="number" id="Add_DB_Port" name="Add_DB_Port" value="{{ db_entry.db_port }}" placeholder="Port">
        <br>

        <!-- Benutzer -->
        <label for="Add_DB_User">User:</label>
        <input type="text" id="Add_DB_User" name="Add_DB_User" value="{{ db_entry.db_user }}" placeholder="User">
        <br>

        <!-- Passwort -->
        <label for="Add_DB_Password">Password:</label>
        <input type="password" id="Add_DB_Password" name="Add_DB_Password" value="{{ db_entry.db_password }}" placeholder="Password">
        <br>

        <!-- Datenbankname -->
        <label for="Add_DB_DB_Name">DB Name:</label>
        <input type="text" id="Add_DB_DB_Name" name="Add_DB_DB_Name" value="{{ db_entry.db_name }}" placeholder="DB Name">
        <br>

        <!-- Speichern-Button -->
        <button type="submit">Speichern</button>
    </form>

    <form id="delete-form" action="{{ url_for('delete_database', db_name=db_entry.name) }}" method="post" style="display: none">
    <button type="submit">Löschen</button>
</form>

<button onclick="openModal('confirm-modal')">Löschen</button>

{% include 'ConfirmationModal.html' %}

</body>
</html>