<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/msg.css') }}">
    <!-- to build the page with WebStorm -->
    <link rel="stylesheet" href="../static/css/msg.css">
</head>
<body>
{% if error %}
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <p>{{ error }}</p>
            <button class="btn" onclick="closeModal()">Close</button>
        </div>
    </div>
{% endif %}
</body>
<script>
    function closeModal() {
        document.getElementById('error-modal').style.display = 'none';
        document.body.classList.remove('blur-background');
    }

    function openModal() {
        document.getElementById('error-modal').style.display = 'block';
        document.body.classList.add('blur-background');
    }

    // Beispiel: Öffne das Modal nach 2 Sekunden
    setTimeout(openModal, 1);
</script>
</html>