@import "default.css";

:root {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.btn {
    position: relative;
    margin-top: 45px;
    width: 168px;
    height: 48px;
    border-radius: var(--border-radius);
    border-color: transparent;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background-color: var(--btn-hover);
}

svg {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.E0E {
    position: relative;
}


