@import "default.css";

:root {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.db-name {
    width: 171px;
    display: grid;
    justify-items: left;
}

.db-host {
    width: 84px;
    display: grid;
    justify-items: center;
}

.db-status {
    margin-left: auto;
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
