@import "default.css";

:root {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.btn {
    margin-top: 45px;
    width: 168px;
    height: 48px;
    border-radius: var(--border-radius);
    border-color: transparent;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 14px;
}

.btn:hover {
    background-color: var(--btn-hover);
}



/*

    Main Container CSS (Start)

 */

.main-container {
    padding-left: 232px;
    color: var(--primary-text-color);
    margin-left: 40px;
}

.top-container {
    font-size: 32px;
    margin-top: 34px;
}

.element-container {
    display: flex;
    margin-top: 50px;
}

.data-container {
    background-color: var(--container-color);
    width: 402px;
    max-width: 402px;
    height: 664px;
    max-height: 664px;
    border-radius: var(--border-radius);
    flex: 1;
    margin-right: 24px;
}

.setup-container {
    background-color: var(--container-color);
    width: 702px;
    max-width: 702px;
    height: 664px;
    max-height: 664px;
    border-radius: var(--border-radius);
    flex: 2;
    margin-right: 40px;
}

.container-text {
    margin-left: 24px;
    margin-top: 16px;
}

.container-form {
    margin-top: 58px;
    margin-left: 25px;
}

.container-form-items {
    width: 629px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.container-form-items-text {
    width: 185px;
}

.container-form-items-select {
    width: 444px;
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--placeholder);
    border-width: 1px;
    border-radius: var(--border-radius);
    padding-left: 17px;
    padding-right: 17px;
}

.container-input-field {
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--placeholder);
    border-width: 1px;
    border-radius: var(--border-radius);
    padding-left: 17px;
    padding-right: 17px;
    width: 444px;
    height: 41px;
}

.container-form-button {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 48px;
    margin-top: 60px;
}


/*

    Dropdown Menu (Start)

 */

#image-select {
    display: none;
}

.select-box {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.select-box:hover {
    cursor: pointer;
}

.select-box svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--placeholder);
}

.custom-select {
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--placeholder);
    border-width: 1px;
    border-radius: var(--border-radius);
    padding-left: 17px;
    padding-right: 17px;
    width: 444px;
    height: 41px;
}

.select-box img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-list {
    position: absolute;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 444px;
    display: none;
    border: 1px solid var(--placeholder);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
}

.dropdown-item {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.dropdown-item img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.dropdown-item:hover {
    background-color: var(--white);
    border-radius: var(--border-radius);
}

/*

    Dropdown Menu (Stop)

 */


/*

    Data Container CSS (Start)

 */

.data-container-entry {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 17px;
}

.data-container-button {
    display: flex;
    justify-items: left;
    align-items: center;
    padding-left: 10px;
    width: 360px;
    height: 44px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--placeholder);
    border-radius: var(--border-radius);
}

.data-container-button:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

/*

    Data Container CSS (Stop)

 */


