@import "default.css";

:root {
    font-family: var(--font-family);
    background-color: var(--background-color);
}
/*

    Here ist the sidebar CSS (Start)

 */

.sidebar {
    width: 232px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color); /* Hintergrundfarbe der Sidebar */
    color: #fff; /* Textfarbe in der Sidebar */
}

.sidebar-brand {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    color: var(--primary-text-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.sidebar-brand img {
    margin-right: 11px;
    margin-left: 41px;
}

/* Stil für die Schaltflächen in der Mitte */
.button-container {
    display: block;
    margin-top: 35px;
}

svg {
    fill: var(--icon-color);
}

.sidebar-button-active svg {
    fill: var(--white) !important;
}

.sidebar-button:hover svg {
    fill: var(--white) !important;
}

.sidebar-button a {
    width: 80px;
    text-align: left;
}

/* Stil für jeden Schaltflächen-Link */
.sidebar-button {
    text-decoration: none;
    color: var(--sidebar-button);
    font-size: var(--font-size-14);
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    /**/
    background-color: var(--background-color);
    border-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 25px;
    border-radius: var(--border-radius);
}
.sidebar-button:hover {
    background-color: var(--btn-hover);
    color: var(--white) !important;
    border-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 25px;
    border-radius: var(--border-radius);
}


.sidebar-button-active {
    background-color: var(--primary-color);
    color: var(--white) !important;
    border-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 25px;
    border-radius: var(--border-radius);
}

.sidebar-button a {
    margin-right: 16px;
    margin-left: 16px;
}

.dark-white-mode {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

.appereance-button {
    width: 168px;
    height: 34px;
    align-items: center;
    text-align: center;
    display: flex;
}

.light-switch-btn-left {
    background-color: var(--white);
    border-style: none;
    width: 75px;
    height: 29px;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    flex: 1;
}

.light-switch-btn-right {
    background-color: var(--white);
    border-style: none;
    width: 75px;
    height: 29px;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    flex: 1;
}

.light-switch-btn-active {
    background-color: var(--primary-color);
    color: var(--white);
}

.light-switch-btn-left:hover,
.light-switch-btn-right:hover {
    background-color: var(--btn-hover);
    color: var(--white);
}

.line {
    position: absolute;
    left: 232px; /* Position in der Mitte des Containers */
    top: 0;
    bottom: 0;
    width: 1px; /* Breite der Linie */
    background-color: var(--placeholder); /* Farbe der Linie */
    transform: translateX(-50%); /* Um die Linie zur Mitte auszurichten */
}

/*

    Here ist the sidebar CSS (End)

 */