@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --primary-color: #5d4ec0;
    --primary-text-color: #2f3641;
    --secondary-color: #f8f7ff;
    --partitions: #e5e4eb;
    --container-color: #ffffff;
    --background-color: #f8f7ff;
    --placeholder: #999999;
    --white: #ffffff;
    --btn-hover: #7b67ff;
    --font-family: 'Poppins', sans-serif;
    --font-size: 16px;
    --border-radius: 16px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999999;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999999;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #999999;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #999999;
}

::placeholder { /* Most modern browsers support this now. */
    color:    #999999;
    font-size: 16px;
}


